body {
    background-image: url("../../static/media/backgrnd_.jpg");
    background-size: cover;
}

@font-face{
    font-family: 'wes fy';
    src: url('../font/Wes\ FY\ W03\ Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.card {
    background-color: rgb(240, 240, 240);
    width: 520px;
    height: 210px;
    margin-left: 32%;
    margin-top: 15%;
    border-radius: 30px;
    opacity: 0.8;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.tittle{
    font-family: 'wes fy';
    font-size: 18pt;
    color: blueviolet;
    font-weight: bolder;
    margin-left: 42%;
    margin-top: 4%;
    display: flex;

}

.bttn {
    display: block;
    text-decoration: none;
    color: inherit;
}

.name{
    margin-top: 15%;
    margin-left: -53%;
    width: 85%;
    height: 20%;
    border-radius: 40px;
    display: flex;
    border-style: none;
    border: 1px solid blueviolet;
    padding-left: 4%;
}

.tospace{
    width: 50%;
    height: 15%;
    margin-left: -68%;
    margin-top: 29%;
    border-radius: 40px;
    border-style: none;
    border: 1px solid blueviolet;
    color: blueviolet;
    
}

.tospace:hover{
    background-color:blueviolet;
    color: white;

    transition-duration: 0.13s;
    transition-timing-function: ease-in-out;
}








.systemsolar{
    width: 780px;
    height: 420px;
    margin-left: 20%;
    margin-top: 10%;
    background-color: white;
    opacity: 0.4;
    display: flex;
    border-radius: 20px;
}

.sun{
    background-image: url('../media/sun.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-left: 50%;
    margin-top: 25%;
    display: block;
}

/*

.earth{
    background-image: url('../media/planet-earth.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-left: 60%;
    margin-top: 35%;
    display: block;
}
 /*

.mars{
    background-image: url('../media/mars.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-left: 70%;
    margin-top: 25%;
    display: flex;
}